<h1>HOME</h1>

{{#each products}}
    <div>
        <ul>
        <li>
        <h4>
            {{this.title}}
            code: {{this.code}}
            ID: {{this.id}}
        </h4>
        </li>
    </div>
{{/each}}