<h1>View Products</h1>
<hr>
<h2>Lista de productos:</h2>
<div class="container">
    <div class="container-forms">
        <div>
            <h2>AGREGAR PRODUCTO</h2>
            <form id="addProductForm">
                <p>TITLE: <input name="title" type="text"></p>
                <p>DESCRIPTION: <input name="description" type="text"></p>
                <p>CODE: <input name="code" type="text"></p>
                <p>PRICE: <input name="price" type="number"></p>
                <p>STOCK <input name="stock" type="number"></p>
                <p>CATEGORY: <input name="category" type="text"></p>
                <button type="submit">Agregar Producto </button>
            </form>
        </div>
        <div id="resFetch"><h2>Accion realizada:</h2></div>
        <div id="container-products">

            {{#each products}}
            <div>
                <ul>
                    <li>
                        <h4>
                            {{this.title}}
                            code: {{this.code}}
                            ID: {{this.id}}
                        </h4>
                    </li>
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/viewsProducts.js"></script>