<h1>DETALLE CARRITO:</h1>
<hr>


<div>
    <ul>
        <li>
            <h4 class="detailCart">
                <div>Titulo: {{cart.title}}</div>
                <div>
                ID: {{cart._id}}
                </div>
                <div>
                Productos:
                {{#if cart.products.default}}
                    {{#each cart.products.default}}
                        {{this}},
                    {{/each}}
                {{else}}
                    No hay productos disponibles.
                {{/if}}
                </div>
            </h4>
        </li>
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
