<h1>DETALLE CARRITO:</h1>
<hr />

<div>
    <ul>
        <li>
            <h4 class="detailCart">
                <div>Titulo: {{cart.title}}</div>
                <div>
                    ID:
                    {{cart._id}}
                </div>
                    Productos en carrito:<br />
                <div>
                    {{#each cart.products}}
                    Id producto: {{this.product}}<br />Cantidad:
                    {{this.quantity}}
                    <hr />
                    {{/each}}
                </div>
            </h4>
        </li>
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>